@model IEnumerable<WebApp_Day8.Models.Product>

<h2>Product List</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.UnitPrice</td>
                <td>@item.ProductDate</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
